<div class="container">
    <div class="row">
        <nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img id="icon" src="./pics/icon.png" alt="" width="100" height="50" class="d-inline-block align-text-centre">
                <b class="logo">Donatee</b>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Links -->
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/"><b>Home</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/charity"><b>Charity</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/blood-bank"><b>Blood Bank</b></a>
                  </li>
                </ul>
              </div>
             
              <buttontype="button" id="login" class="btn btn-light" ><b>Login/Signup</b></button> 
              
            </div>
        </nav>
    </div>






    <!-- Login  form -->
<section class="home">
  <div class="form-container ">
    <i class="fa fa-times form-close" aria-hidden="true"></i>
  
          <div class="login-form">
              <form action="#" >
                <h2>Login</h2>
                <div class="mb-3 inputbox">
                  
                  <input name="Email" class="form-control" id="exampleInputName" placeholder="Enter Your Email">
                  <i class="fa fa-envelope ml-2 emial " ></i>
                </div>
  
                <div class="mb-3 inputbox">
                  <input type="password" class="form-control" id="exampleInputpass" placeholder="Enter Your Password">
                  <i class="fa fa-lock Password Lock"></i>
                 
                </div>
               <div class="opt-field">
                  <span class="checkbox">
                    <input type="checkbox" id="check">
                    <label for="check">Remember me</label>
  
                    <a href="#"> Forgot Password?</a>
                  </span>
               </div>
                <div  class="mb-3 ">
                  <button  id="login-btn" class="btn btn-primary button" >Login </button>
                  <div>
                    Don't Have An Account? <a href="#" id="signup-link">Sign Up</a>  </div>
                </div>
                
              </form>
           </div>
  
           <!-- Signup form -->
  
    
           <div class=" form Signup-form">
            <form action="#" >
              <h2>Sign Up</h2>
              <div class="mb-3 inputbox">
                
                <input name="Email" class="form-control" id="exampleInputName" placeholder="Enter Your Email">
                <i class="fa fa-envelope ml-2 emial " ></i>
              </div>
  
              <div class="mb-3 inputbox">
                <input type="password" class="form-control" id="exampleInputpass" placeholder="Enter Your Password">
                <i class="fa fa-lock Password Lock"></i>
              </div>
  
              <div class="mb-3 inputbox">
                <input type="password" class="form-control" id="exampleInputpass" placeholder="Confirm Your Password">
                <i class="fa fa-lock Password Lock"></i>
              </div>
  
             <div class="opt-field">
                <span class="checkbox">
                  <input type="checkbox" id="check">
                  <label for="check">Remember me</label>
  
                </span>
             </div>
              <div  class="mb-3 signup-btn">
                <button  id="login-btn" class="btn btn-primary button" >SignUp </button>
                <div>
                  Already Have An Account? <a href="#" id="login-link">Login </a>  </div>
              </div>
              
            </form>
  
  </div>
  
  </section>
  
  
  
  
  
  
  
  
  
  </div>