<section class="">
    <div class="container ">
     
    
            <div class="m">
                <form action="/api/user/login" method="post" >
                  <h2>Login</h2>
                  <div class="mb-3 inputbox">
                    
                    <input name="email" class="form-control" id="exampleInputName" placeholder="Enter Your Email"/>
                    <i class="fa fa-envelope ml-2 emial " ></i>
                  </div>
    
                  <div class="mb-3 inputbox">
                    <input name="password" type="password" class="form-control" id="exampleInputpass" placeholder="Enter Your Password"/>
                    <i class="fa fa-lock Password Lock"></i>
                   
                  </div>
                 <div class="opt-field">
                    <span class="checkbox">
                      <input name="checkbox" type="checkbox" id="check" />
                      <label for="check">Remember me</label>
    
                      <a href="#"> Forgot Password?</a>
                    </span>
                 </div>
                  <div  class="mb-3 ">
                    <button  id="login-btn" class="btn btn-primary button" >Login </button>
                    <div>
                      Don't Have An Account? <a href="#" id="signup-link">Sign Up</a>  </div>
                  </div>
                  
                </form>
            </div>
            </div>
</section>