<div class="center-div ">
    <form id="contact-form"  name="myform" >
      <div class="mb-3 col-md-10">
        <input name="Name" class="form-control" id="exampleInputName" aria-describedby="NameHelp" placeholder="Enter Your Name">
      </div>
      <div class="mb-3 col-md-10">
        <input name="Email" type="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3 col-md-10">
        <input name="Message" type="text" class="form-control" id="exampleInputMessage" placeholder="Enter Your Message Here">
      </div>
      <div  class="mb-3 "><button type="submit" id="Submit"  class="btn btn-primary" >Submit</button></div>
      
    </form>
  </div>