
    <section class="">
        <div class="container ">
          <i class="fa fa-times form-close" aria-hidden="true"></i>
        
            
        
          
                 <div class=" form Signup-form">
                  <form action="/api/user/register" method="post" >
                    <h2>Sign Up</h2>
                    <div class="mb-3 inputbox">
                      
                      <input name="email" class="form-control" id="exampleInputName" placeholder="Enter Your Email" />
                      <i class="fa fa-envelope ml-2 emial " ></i>
                    </div>
        
                    <div class="mb-3 inputbox">
                      <input name= "password" type="password" class="form-control" id="exampleInputpass" placeholder="Enter Your Password" />
                      <i class="fa fa-lock Password Lock"></i>
                    </div>
        
                    <div class="mb-3 inputbox">
                      <input  name= "confirm-password" type="password" class="form-control" id="exampleInputpass" placeholder="Confirm Your Password" />
                      <i class="fa fa-lock Password Lock"></i>
                    </div>
        
                   <div class="opt-field">
                      <span class="checkbox">
                        <input type="checkbox" id="check" />
                        <label for="check">Remember me</label>
        
                      </span>
                   </div>
                    <div  class="mb-3 signup-btn">
                      <button  id="login-btn" class="btn btn-primary button" >SignUp </button>
                      <div>
                        Already Have An Account? <a href="#" id="login-link">Login </a>  </div>
                    </div>
                    
                  </form>
        
        </div>
        
        </section>
        