<div class="container">
    <div class="row">
        <nav class="navbar fixed-top navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img id="icon" src="./pics/icon.png" alt="" width="100" height="50" class="d-inline-block align-text-centre">
                <b class="logo">Donatee</b>
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Links -->
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="/"><b>Home</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/charity"><b>Charity</b></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/blood-bank"><b>Blood Bank</b></a>
                  </li>
                </ul>
              </div>
             
              <buttontype="button" id="login" class="btn btn-light" ><b>Login/Signup</b></button> 
              
            </div>
        </nav>
    </div>
  </div>